.register-but form input[type="button"] {
	background:#F97E76;
	color: #FFF;
	font-size:1em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="button"]:hover {
	background:#1DBAA5;
}